.card{
    height: auto;
    width: auto;
    margin: 10pt;
    border-radius: 10pt;
    float: left;
}
.cardImg{
    height: 11vmax;
    width: 11vmax;
}
.cardTitle{
    font-size: 1.5vmax;
}
.cardBody{
    padding: 10px;
}