.card{
    height: auto;
    width: auto;
    margin: 10pt;
    border-radius: 10pt;
    float: left;
}
.cardImg{
    height: 10pc;
    width: 10pc;
}
.cardTitle{
    font-size: 1rem;
}
.cardBody{
    padding: 10px;
}
@media screen and (max-width: 480px) {
    .cardTitle{
      font-size: 0.75rem;
    }
    .cardImg{
        height: 5pc;
        width: 5pc;
    }
  }