.myCoverPic{
    height: 70% !important;
    width: 70% !important;
}
.Carousel{
    background-color: black;
}
#caption h2{
    color: yellow;
}
#caption p{
    font-size: 14pt;
    color: lightgreen;
    text-align: center;
}