.myCoverPic{
    height: 50% ;
    width: 50% ;
}
@media screen and (max-width: 480px) {
    .myCoverPic{
        height: 70% ;
        width: 70% ;
    }
}
#caption h3{
    color: yellow;
}
#caption p{
    color: lightgreen;
    text-align: center;
}
.carousel{
    margin: 10pt 0;
}