#navbar{
  height: auto;
  width: 100%;
}
#navbar-brand{
  background: linear-gradient(to right, #f32170, 
                    #1c0cad);
                    background-clip: text;
                    -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;
  font-size: 2.5vmax;
}
#home,#about,#blog,#projects{
  color: purple;
  font-size: 1.5vmax;
}
#home:hover,#about:hover,#blog:hover,#projects:hover{
  font-size: 1.65vmax;
  color: gold;
  background-color: rgb(199, 89, 157);
  border-radius: 20pt;
}

