#top-navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gray;
}
#navbar-brand{
  justify-self: center;
  color: white;
  font-size: 20pt;
}
#home,#about,#blog,#projects{
  color: black;
  font-size: 14pt;
}
#home:hover,#about:hover,#blog:hover,#projects:hover{
  size: 16pt;
  color: gold;
  background-color: black;
}