.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
}
ul{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
.delete{
    margin: 5pt;
    height: min-content;
    width: min-content;
    color: black;
    background-color: red; 
    border-color: red;
}