.App {
  text-align: center;
  align-items: center;
  padding-bottom: 1rem;
}

.changeLogs{
  list-style-position: inside;
}
.coverPhoto{
  height: 30rem;
  width: 50rem;
}

h1{
  color: crimson;
  font-family: cursive;
}

p{
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
