.App {
  text-align: center;
  align-items: center;
  background-color: lavender;
}

html {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 480px) {
  h1{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.25rem;
  }
  p{
    font-size: 0.75rem;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  background: linear-gradient(to right, #f32170, 
                    #ff6b08, #cf23cf, #eedd44);
                    background-clip: text;
                    -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;
}
